---
Language: Cpp
BasedOnStyle: Google
Standard: c++20
ColumnLimit: 0 
Cpp11BracedListStyle: false
AlignAfterOpenBracket: DontAlign
AllowShortLambdasOnASingleLine: Empty
BraceWrapping:
    BeforeLambdaBody: false